<tr>
  <td id="comment-<%= c.id %>">
  <p><strong><%= c.user.try(:short_name) %>:  <%= c.comment %></strong></p>
    <% if current_user && c.user == current_user %>

      <%= link_to "Delete", po_comment_path(@po, c), :method => :delete, :class => "btn btn-danger pull-right", :remote => true %>

    <% end %>
  </td>
</tr>
