h1 {

}

.head {
  background-image: image-url("catroll.png");
  background-size: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background-attachment: fixed;*/
}

footer{
  margin: 0 auto;
  background-image: image-url("cat.png");
  -webkit-background-size: contain;
  background-size: contain;
}

.po_list {
  color: yellow;
}

body {
  font-family: 'Lobster', cursive;
}

header {
  position: fixed;
}

