.head {
  background-image: image-url("catroll.png");
  background-size: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background-attachment: fixed;*/
}

ul {
  list-style-type: none;
}

.page-header {
  color: orange;
}

footer{
  margin: 0 auto;
  background-image: image-url("cat.png");
  -webkit-background-size: contain;
  background-size: contain;
}

.po_list {
  color: yellow;
}

body {
  font-family: 'Lobster', cursive;
  background-color: #000;
  color: #777777;
  letter-spacing: 2px;
}

body h1, h2, h3 {
  color: orange;
}

body p {
  color: #fff;
  font-size: 1.5em;
}

#table thead th {
  color: #fff;
}

.home-btn {
  position: fixed;
  width: 80px;
  display: block;
  background-color: #000;
  border-color: white;
}

header {
/*  position: fixed;*/

}

.select {
  width: 1140px;
  background-color: #777777;
}

.calander {
  color: #777777;
}

.profile h2 {
  width: 400px;
}

.about {
  width: 400px;
  display: block;
  color: black;
}

#profile {
  color: #fff;
}

.about-text {
  color: white;
  font-size: 1em;
}

#comments-list p {
  width: 600px;
  margin: 0;
  padding: 0;
  display: inline-block;
}



